.hbox {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    padding: 0em 0.5em;
    margin: 0.25em;
}
.vbox {
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    padding: 0.25em 0em;
    background: rgba(0,0,0,0.05);
    margin: 0px;
}
.hbox label.title {
    width:8em;
    text-align: right;
    padding-right: 0.5em;
}

label.sub {
    font-size: 75%;
    font-variant: small-caps;
    padding-right: 0.25rem;
}
